@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop
@using Radzen
@using Radzen.Blazor

<h3>ExamQuestionList</h3>

<RadzenButton Click="@click" Text="hi"></RadzenButton>
<label>@text</label>
<input @onclick="click" type="button" />


@code {
    string text = "hello";
    private void click()
    {
        text += "hello";
    }
}
