@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container">
    <div class="col-12">
        <a asp-action="index" asp-controller="AdminMan">Admin User Managment</a><br />
        <a asp-action="index" asp-controller="TeacherMan">Teacher User Managment</a><br />
        <a asp-action="index" asp-controller="AdminStudentMan">Admin - Student User Managment</a>
    </div>
</div>