


<div class="text-center">
    <h1>Welcom Admin,</h1>
    <h3>@User.Identity.Name</h3>
    <hr />
    <a asp-action="index" asp-controller="AdminMan" class="btn btn-link btn-lg">Admin User Management</a><br />
    <a asp-action="index" asp-controller="TeacherMan"class="btn btn-link btn-lg">Teacher User Management</a><br />
    <a asp-action="index" asp-controller="AdminStudentMan"class="btn btn-link btn-lg">Student User Management</a><br />
</div>